In [6]:
from urllib.request import urlopen
import pandas as pd
from bs4 import BeautifulSoup
import webbrowser
import dart_fss as dart
import json
import pymysql
import info

In [7]:
conn = pymysql.connect(host=info.myHost,user=info.myUser,password=info.myPw,db=info.myDb,charset="utf8")
cur = conn.cursor()

In [8]:
#삼성전자, LG화학, SK하이닉스
company_code_list=["00126380","00356361","00164779"]
bsns_year=["2015","2016","2017","2018","2019","2020"]
#1분기보고서 : 11013, 반기보고서 : 110123, 
#분기보고서 : 11014, 사업보고서 : 11011
reprt_code=["11013","11012","11014","11011"]

In [9]:
sql ="truncate corp_financial_statement"
cur.execute(sql)

for year in bsns_year:
    for reprt in reprt_code:
        for company_code in company_code_list:
            url = "https://opendart.fss.or.kr/api/fnlttSinglAcnt.json?crtfc_key="+info.crtfc_key+"&corp_code="+company_code+"&bsns_year="+year+"&reprt_code="+reprt
            resultXML=urlopen(url)  #this is for response of XML
            stringText=resultXML.read().decode("utf-8")
            data = json.loads(stringText)
        
            #데이터가 접근가능상태인가?
            if(data["status"]=="000"):
                for item in data['list']:
                    #연결재무재표만 query
                    if item['fs_div'] in ['CFS']:   
                        if item['account_nm'] in ['매출액']:
                            ss = item['thstrm_amount'].replace(",","")
                        if item['account_nm'] in ['영업이익']:
                            oi= item['thstrm_amount'].replace(",","")
                        if item['account_nm'] in ['당기순이익']:
                            ni = item['thstrm_amount'].replace(",","")
                        if item['account_nm'] in ['자본총계']:
                            tl = item['thstrm_amount'].replace(",","")
                        if item['account_nm'] in ['부채총계']:
                            te = item['thstrm_amount'].replace(",","")
                        if item['account_nm'] in ['유동부채']:
                            cl = item['thstrm_amount'].replace(",","")
                        if item['account_nm'] in ['유동자산']:
                            ca = item['thstrm_amount'].replace(",","")
                        if item['account_nm'] in ['비유동자산']:
                            nca = item['thstrm_amount'].replace(",","")
                
                #null check
                if ss:
                    if oi:
                        if ni:
                            if tl:
                                if te:
                                    if cl:
                                        if ca:
                                            if nca:
                                                sql = "INSERT INTO corp_financial_statement values ('"+company_code+"',"+year+",'"+reprt+"',"+ss+","+oi+","+ni+","+tl+","+te+","+ca+","+nca+","+cl+")"
                                                ss, oi, ni, tl, te, cl, ca, nca = None,None,None,None,None,None,None,None
                                                print(sql)
                                                cur.execute(sql)

INSERT INTO corp_financial_statement values ('00126380',2015,'11011',200653482000000,26413442000000,19060144000000,179059805000000,63119716000000,124814725000000,117364796000000,50502909000000)
INSERT INTO corp_financial_statement values ('00356361',2015,'11011',20206583000000,1823568000000,1148531000000,13103522000000,5475206000000,8655605000000,9923123000000,4798981000000)
INSERT INTO corp_financial_statement values ('00164779',2015,'11011',18797998000000,5336100000000,4323595000000,21387703000000,8290203000000,9760030000000,19917876000000,4840698000000)
INSERT INTO corp_financial_statement values ('00126380',2016,'11013',49782252000000,6675812000000,5252803000000,178326186000000,62913603000000,126587169000000,114652620000000,49049500000000)
INSERT INTO corp_financial_statement values ('00356361',2016,'11013',4874092000000,457745000000,338125000000,13106349000000,5753936000000,8945077000000,9915208000000,5238754000000)
INSERT INTO corp_financial_statement values ('00164779',2016,'11013',3655717000000,561798000000,448026000000,21464689000000,8332966000000,9163101000000,20634554000000,4251605000000)
INSERT INTO corp_financial_statement values ('00126380',2016,'11012',50937120000000,8143950000000,5847393000000,181842516000000,62118157000000,130163049000000,113797624000000,48008164000000)
INSERT INTO corp_financial_statement values ('00356361',2016,'11012',5219229000000,612453000000,375484000000,13463761000000,6362347000000,8959964000000,10866144000000,5647502000000)
INSERT INTO corp_financial_statement values ('00164779',2016,'11012',3940927000000,452853000000,286132000000,21700822000000,7628630000000,8356317000000,20973135000000,3163858000000)
INSERT INTO corp_financial_statement values ('00126380',2016,'11014',47815633000000,5200089000000,4537855000000,179536379000000,64935077000000,132166769000000,112304687000000,50459481000000)
INSERT INTO corp_financial_statement values ('00356361',2016,'11014',5054278000000,459997000000,297428000000,13672294000000,6367397000000,9276307000000,10763384000000,5533923000000)
INSERT INTO corp_financial_statement values ('00164779',2016,'11014',4243645000000,725956000000,597751000000,22004580000000,7162415000000,8228379000000,20938616000000,2974257000000)
INSERT INTO corp_financial_statement values ('00126380',2016,'11011',201866745000000,29240672000000,22726092000000,192963033000000,69211291000000,141429704000000,120744620000000,54704095000000)
INSERT INTO corp_financial_statement values ('00356361',2016,'11011',20659296000000,1991920000000,1280994000000,14050967000000,6436093000000,9226934000000,11260126000000,5446851000000)
INSERT INTO corp_financial_statement values ('00164779',2016,'11011',17197975000000,3276746000000,2960483000000,24023530000000,8192496000000,9838982000000,22377044000000,4160849000000)
INSERT INTO corp_financial_statement values ('00126380',2017,'11013',50547526000000,9898361000000,7684354000000,189817955000000,74399417000000,129284204000000,134933168000000,56843132000000)
INSERT INTO corp_financial_statement values ('00356361',2017,'11013',6486668000000,796908000000,548097000000,14905845000000,7265334000000,9648969000000,12522210000000,5900232000000)
INSERT INTO corp_financial_statement values ('00164779',2017,'11013',6289518000000,2467599000000,1898678000000,25168919000000,9150581000000,10841409000000,23478091000000,5167516000000)
INSERT INTO corp_financial_statement values ('00126380',2017,'11012',61000537000000,14066547000000,11053851000000,200705748000000,76883688000000,132172681000000,145416755000000,58468431000000)
INSERT INTO corp_financial_statement values ('00356361',2017,'11012',6382062000000,726870000000,590322000000,15534636000000,7136483000000,9950070000000,12721049000000,4806849000000)
INSERT INTO corp_financial_statement values ('00164779',2017,'11012',6692278000000,3050700000000,2468509000000,27763784000000,9737793000000,12290962000000,25210615000000,5483352000000)
INSERT INTO corp_financial_statement values ('00126380',2017,'11014',62048901000000,14533159000000,11193411000000,210691251000000,85887328000000,145322337000000,151256242000000,66172585000000)
INSERT INTO corp_financial_statement values ('00356361',2017,'11014',6397083000000,789698000000,545452000000,16121798000000,7585752000000,10745964000000,12961586000000,5150489000000)
INSERT INTO corp_financial_statement values ('00164779',2017,'11014',8100085000000,3737193000000,3055529000000,30904498000000,9825955000000,14557910000000,26172543000000,5642787000000)
INSERT INTO corp_financial_statement values ('00126380',2017,'11011',239575376000000,53645038000000,42186747000000,214491428000000,87260662000000,146982464000000,154769626000000,67175114000000)
INSERT INTO corp_financial_statement values ('00356361',2017,'11011',25698014000000,2928457000000,2021973000000,16338577000000,8702644000000,11205581000000,13835640000000,6644689000000)
INSERT INTO corp_financial_statement values ('00164779',2017,'11011',30109434000000,13721326000000,10642219000000,33820919000000,11597545000000,17310444000000,28108020000000,8116133000000)
INSERT INTO corp_financial_statement values ('00126380',2018,'11013',60563714000000,15642170000000,11688544000000,223259880000000,89213233000000,154941953000000,157531160000000,68298586000000)
INSERT INTO corp_financial_statement values ('00356361',2018,'11013',6553590000000,650841000000,552744000000,16510240000000,9905259000000,12253647000000,14161852000000,6773548000000)
INSERT INTO corp_financial_statement values ('00164779',2018,'11013',8719691000000,4367338000000,3121329000000,36378486000000,12746637000000,17632878000000,31492245000000,9352773000000)
INSERT INTO corp_financial_statement values ('00126380',2018,'11012',58482658000000,14869035000000,11043412000000,233124845000000,85563535000000,156976839000000,161711541000000,65602323000000)
INSERT INTO corp_financial_statement values ('00356361',2018,'11012',7051853000000,703291000000,493395000000,17008674000000,10390608000000,12627018000000,14772264000000,6622143000000)
INSERT INTO corp_financial_statement values ('00164779',2018,'11012',10370507000000,5573918000000,4328543000000,40777676000000,12479404000000,15695268000000,37561812000000,8727425000000)
INSERT INTO corp_financial_statement values ('00126380',2018,'11014',65459993000000,17574865000000,13150715000000,242103160000000,95092626000000,176282049000000,160913737000000,74705872000000)
INSERT INTO corp_financial_statement values ('00356361',2018,'11014',7234858000000,602379000000,346600000000,17257314000000,11161946000000,13437690000000,14981570000000,7325457000000)
INSERT INTO corp_financial_statement values ('00164779',2018,'11014',11416788000000,6472420000000,4692193000000,43488826000000,13888426000000,17700533000000,39676719000000,10002009000000)
INSERT INTO corp_financial_statement values ('00126380',2018,'11011',243771415000000,58886669000000,44344857000000,247753177000000,91604067000000,174697424000000,164659820000000,69081510000000)
INSERT INTO corp_financial_statement values ('00356361',2018,'11011',28183013000000,2246070000000,1519312000000,17322128000000,11622009000000,12088512000000,16855625000000,7273534000000)
INSERT INTO corp_financial_statement values ('00164779',2018,'11011',40445066000000,20843750000000,15539984000000,46852331000000,16806004000000,19894146000000,43764189000000,13031852000000)
INSERT INTO corp_financial_statement values ('00126380',2019,'11013',52385546000000,6233282000000,5043585000000,253215151000000,91852732000000,177388524000000,167679359000000,67354091000000)
INSERT INTO corp_financial_statement values ('00356361',2019,'11013',6639073000000,275367000000,211938000000,17199291000000,14012994000000,13198237000000,18014048000000,8026428000000)
INSERT INTO corp_financial_statement values ('00164779',2019,'11013',6772655000000,1366490000000,1102130000000,47166007000000,17965494000000,18618236000000,46513265000000,13231722000000)
INSERT INTO corp_financial_statement values ('00126380',2019,'11012',56127104000000,6597065000000,5180576000000,257747033000000,85193101000000,173433478000000,169506656000000,59309271000000)

INSERT INTO corp_financial_statement values ('00356361',2019,'11012',7177444000000,267515000000,83823000000,17278855000000,15156692000000,13301187000000,19134360000000,7362229000000)
INSERT INTO corp_financial_statement values ('00164779',2019,'11012',6452201000000,637630000000,537025000000,47710787000000,15321477000000,14242750000000,48789514000000,7512771000000)
INSERT INTO corp_financial_statement values ('00126380',2019,'11014',62003471000000,7777892000000,6287664000000,263442244000000,89943741000000,186042134000000,167343851000000,63303192000000)
INSERT INTO corp_financial_statement values ('00356361',2019,'11014',7347303000000,380274000000,137185000000,17490783000000,16039976000000,12860159000000,20670600000000,8010251000000)
INSERT INTO corp_financial_statement values ('00164779',2019,'11014',6838766000000,472561000000,495484000000,48266226000000,15405525000000,14175499000000,49496252000000,6827424000000)
INSERT INTO corp_financial_statement values ('00126380',2019,'11011',230400881000000,27768509000000,21738865000000,262880421000000,89684076000000,181385260000000,171179237000000,63782764000000)
INSERT INTO corp_financial_statement values ('00356361',2019,'11011',28625042000000,895648000000,376104000000,17383789000000,16640637000000,11869724000000,22154702000000,8941529000000)
INSERT INTO corp_financial_statement values ('00164779',2019,'11011',26990733000000,2712718000000,2016391000000,47943195000000,16846299000000,14457602000000,50331892000000,7874033000000)
INSERT INTO corp_financial_statement values ('00126380',2020,'11013',55325178000000,6447345000000,4884926000000,266387723000000,91069812000000,186739748000000,170717787000000,64763290000000)
INSERT INTO corp_financial_statement values ('00356361',2020,'11013',7115729000000,236458000000,36347000000,17416089000000,19705039000000,13994426000000,23126702000000,9868957000000)
INSERT INTO corp_financial_statement values ('00164779',2020,'11013',7198892000000,800301000000,649050000000,48247724000000,18895063000000,15799759000000,51343028000000,8707249000000)
INSERT INTO corp_financial_statement values ('00126380',2020,'11012',52966142000000,8146292000000,5555083000000,269807817000000,88151682000000,186136845000000,171822654000000,61863721000000)
INSERT INTO corp_financial_statement values ('00356361',2020,'11012',6935191000000,571642000000,419070000000,17842416000000,20733879000000,14975511000000,23600784000000,10976856000000)
INSERT INTO corp_financial_statement values ('00164779',2020,'11012',8606534000000,1946715000000,1264260000000,49402876000000,19856421000000,17362825000000,51896472000000,9595472000000)
INSERT INTO corp_financial_statement values ('00126380',2020,'11014',66964160000000,12353238000000,9360693000000,276136188000000,99652554000000,203634913000000,172153829000000,73046405000000)
INSERT INTO corp_financial_statement values ('00356361',2020,'11014',7507281000000,902084000000,570387000000,18820580000000,21198289000000,15878151000000,24140718000000,11575488000000)
INSERT INTO corp_financial_statement values ('00164779',2020,'11014',8128767000000,1299696000000,1077862000000,50499059000000,18768114000000,17036210000000,52230963000000,8851618000000)
INSERT INTO corp_financial_statement values ('00126380',2020,'11011',236806988000000,35993876000000,26407832000000,275948016000000,102287702000000,198215579000000,180020139000000,75604351000000)
INSERT INTO corp_financial_statement values ('00356361',2020,'11011',30076510000000,1798159000000,682408000000,18790440000000,22598454000000,16319700000000,25069194000000,12624219000000)
INSERT INTO corp_financial_statement values ('00164779',2020,'11011',31900418000000,5012624000000,4758914000000,51909097000000,19264756000000,16570953000000,54602900000000,9072360000000)

In [10]:
conn.commit()
conn.close()